{% extends 'base.html.twig' %}

{% block title %}Hello FormationsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Formation proposant des stages:</h1>

    {% for formation in liste_formations %}
        <div class="card">
            <h5 class="card-header">{{formation.nomCourt}}</h5>
            <div class="card-body">
                <h5 class="card-title">Nom Long: {{formation.nomLong}}</h5><br>
                <a href="{{ path('stageFormation', {'id_formation': formation.id}) }}" class="btn btn-primary">Stage</a>
            </div>
        </div>    
{% endfor %}
{% endblock %}